h1 {
    color:red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
  color:red;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

p {
  color:rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 10em;
  margin-bottom: 10em;
  margin-left: 10em;
  margin-right: 10em;
}

button {
    background-color: #4CAF50; /* Green */
    border: line-style;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.2s all;
}

.button_active {
  background-color: #ff0000; /* Red */
  border: line-style;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s all;
}

.img1 {
    border-style: groove;
    border-radius: 50%;
    border-width: 10;
    border-color: purple;
    margin: auto;
    display: block;
  }

.img2 {
  border-style: solid;
  border-color: black;
  margin: auto;
  width: 347px;
  height: 195px;
  display: block;
}

form label {
  color: red;
}

button:hover {
  transform: scale(0.9);
}

body {
  /*credit to steve johnson @ https://www.pexels.com/photo/abstract-art-background-12951262/ */
  background-image: url('pexels-steve-johnson.jpg');
}

.footer {
  margin-top: 10em;
  margin-bottom: -100px;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: inline;
}