html {
  scroll-behavior: smooth;
}

/* text formatting */
.h1 {
  color: red;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin-top: 5%;
  font-size: 7rem;
  scroll-margin-top: 10rem;
}

.tagline {
  color: red;
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 4rem;
}

.h2 {
  color: red;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 6rem;
  scroll-margin-top: 5rem;
}

.h3 {
  color: red;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 5rem;
}

.p2 {
  color:rgb(255, 255, 255);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 5%;
  font-size: 2rem;
}

.navbar {
  justify-content: center;
}

/* images */
.img1 {
  border-style: solid;
  border-radius: 50%;
  border-width: 5px;
  border-color: purple;
  margin: auto;
  display: block;
  max-width: 100%;
}

.img-fluid {
  width: 100%;
  padding: 10px;
}

/* button formatting */
button {
  background-color: #4CAF50;
  border: line-style;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition: 0.2s all;
}

/* custom button settings */
.custom-button {
  background-color: #4CAF50;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  text-align: center;
  width: 20rem;
  margin: 1rem auto;
  text-decoration: none;
}

.custom-nav-button {
  background-color: #bb009c;
  color: rgb(255, 153, 0);
  padding: .5rem 1rem;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  width: 15rem;
  margin: 1rem auto;
  text-decoration: none;
}

.custom-button:hover {
  background-color: #45a049; /* Darker green on hover */
  text-decoration: none;
}

.custom-button:active {
  background-color: #4CAF50; /* Keep the background color on click */
  text-decoration: none;
}

button:hover {
  transform: scale(0.9);
}

.btn.btn-info.btn-lg {
  background-color: black;
  margin-bottom: 10%;
  margin-left: 5%;
  margin-right: 5%;
  width: 30%;
  display: inline-block;
}

/* embedded map */
.mapouter {
  position: relative;
  text-align: center;
  height: 500px;
  width: 100%;
  max-width: 100%;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  display: inline-block;
  margin: 0 auto;
}

/* Fade in on load */
body {
  background-color: #17181a;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* manual set for collapse animation speed */
.collapsing {
  transition: height 0.5s ease; /* Adjust duration and timing function */
}

/* Adjustments on mobile devices */
@media (max-width: 876px) {
  .bar {
    display: flex;
  }
  .gmap_canvas {
    width: 100%;
  }
  .responsive-link {
    font-size: 50%;
  }
  .h1 {
    font-size: 6rem;
    margin-top: 10%;
  }
  .h2 {
    scroll-margin-top: 2.5rem;
  }
  .h3 {
    font-size: 2rem;
  }
  .tagline {
    font-size: 3rem;
  }
  .p2 {
    font-size: 1.5rem;
  }
  .custom-nav-button {
    width: 6rem;
    padding: .2rem 1rem;
    font-size: 1.2rem;
  }
}

/* Standard adjustments on full screens */
@media (min-width: 877px) {
  .bar {
    max-width: none;
  }
  .img1 {
    max-width: 520px;
  }
}

/* I dont remember */
.index {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}